# BURST 5-node testnet (local development / staging)
#
# Start:   docker compose up --build -d
# Logs:    docker compose logs -f
# Stop:    docker compose down
# Wipe:    docker compose down -v

x-burst-common: &burst-common
  build: .
  restart: unless-stopped
  environment: &burst-env
    BURST_NETWORK: test
    BURST_LOG_LEVEL: info
    BURST_ENABLE_WEBSOCKET: "true"
    BURST_ENABLE_METRICS: "true"

services:
  node1:
    <<: *burst-common
    container_name: burst-node-1
    ports:
      - "17076:17076"   # P2P
      - "7077:7077"     # RPC
      - "7078:7078"     # WebSocket
    volumes:
      - node1-data:/home/burst/data
    environment:
      <<: *burst-env
      BURST_ENABLE_FAUCET: "true"

  node2:
    <<: *burst-common
    container_name: burst-node-2
    ports:
      - "17086:17076"
      - "7087:7077"
      - "7088:7078"
    volumes:
      - node2-data:/home/burst/data
    environment:
      <<: *burst-env
      BURST_BOOTSTRAP_PEERS: "node1:17076"
    depends_on:
      - node1

  node3:
    <<: *burst-common
    container_name: burst-node-3
    ports:
      - "17096:17076"
      - "7097:7077"
      - "7098:7078"
    volumes:
      - node3-data:/home/burst/data
    environment:
      <<: *burst-env
      BURST_BOOTSTRAP_PEERS: "node1:17076"
    depends_on:
      - node1

  node4:
    <<: *burst-common
    container_name: burst-node-4
    ports:
      - "17106:17076"
      - "7107:7077"
      - "7108:7078"
    volumes:
      - node4-data:/home/burst/data
    environment:
      <<: *burst-env
      BURST_BOOTSTRAP_PEERS: "node1:17076"
    depends_on:
      - node1

  node5:
    <<: *burst-common
    container_name: burst-node-5
    ports:
      - "17116:17076"
      - "7117:7077"
      - "7118:7078"
    volumes:
      - node5-data:/home/burst/data
    environment:
      <<: *burst-env
      BURST_BOOTSTRAP_PEERS: "node1:17076"
    depends_on:
      - node1

volumes:
  node1-data:
  node2-data:
  node3-data:
  node4-data:
  node5-data:
